extends layouts/main
include mixins/videoPlayer
include mixins/commnetBlock



block content
    .video-detail__container
        +videoPlayer({
            src:video.fileUrl
        })
        .video__info
            if (video.creator.id === loggedUser.id)
                a(href=routes.editVideo(video.id))
                    button Edit video
            h5.video__title=video.title
            p.video__description=video.description
            .video__author
                |Uploaded by 
                a(href=routes.userDetail(video.creator.id))=video.creator.name
            if video.views === 1
                span.video__views 1 view
            else 
                span.video__views #{video.views} views
        .video__comments
            if comments.length === 1
                span.video__comment-number
                    span#jsCommentNumber 1 
                    |   comment
            else
                span.video__comment-number 
                    span#jsCommentNumber=comments.length 
                    |   comments
            if loggedUser.id 
                form.add_comment#jsAddComment
                    input(type="text", placeholder = "Add a comment", name="comment")
            ul.video__commnets-list#jsCommentList
                each comment in comments
                    +commentBlock({
                        username: comment.creator.name,
                        timestamp: comment.createdAt,
                        content: comment.comment,
                        authorId: comment.creator.id,
                        authorAvatar: comment.creator.avatarUrl,
                        commentId: comment.id
                    })

        